    {% load static %}
    <!Doctype html>
        <html lang="en">
        <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <title> CraftedEuphoria</title>
            <link rel="shortcut icon" href="{% static 'assets/images/fav.png' %}" type="image/x-icon">
            <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
            <link rel="shortcut icon" href="{% static 'assets/images/fav.jpg' %}">
            <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
            <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}"/>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


            <style>
                .product-box {
                    height: 100%; /* Set a fixed height for the box */
                }
                .product-image {
                    width: 100%; /* Set a fixed width for the image */
                    height: 200px; /* Set a fixed height for the image */
                    object-fit: cover; /* Maintain aspect ratio and cover the entire space */
                }
            </style>
        </head>
        <body>
            <header class="container-fluid bg-white">
                <div class="header-top bg-gray  border-bottom">
                    <div class="container">
                        <div class="row">       
                            <div class="col-md-8">
                                <ul class="d-inline-flex pt-0 pt-md-2 fs-6">
                                </ul>
                            </div>
                            <div class="col-md-4 d-flex align-items-end">
                                <ul class="ms-auto d-inline-flex">
                                    {% if user.is_authenticated %}
                                    <li class="p-2"><a target="_blank" href="{% url 'loggout' %}"><button class="btn px-4 btn-danger">Logout</button></a></li>
                                    <li class="p-2"><a target="_blank" href="{% url 'userprofile' %}"><button class="btn px-4 btn-danger">User Profile</button></a></li>
                                    <li class="p-2"><a target="_blank" href="{% url 'order_history' %}"><button class="btn px-4 btn-danger">History</button></a></li>

                                    {% else %}
                                    <li class="p-2"><a target="_blank" href="{% url 'login_page' %}"><button class="btn px-4 btn-danger">Login</button></a></li>
                                    <li class="p-2"><a target="_blank" href="{% url 'register' %}"><button class="btn px-4 btn-outline-danger">Sign Up</button></a></li>
                                    
                                    {% endif %}
                                </ul>
                        
                            </div>
                        </div>
                    </div>
                </div>
                <header>
                    <div class="logo-container p-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-9 pt-1 pb-2">
                                
                                    <img class="logo" src="{% static 'assets/images/logo.png' %}" alt="logo" style="width:165px;height:45px;">
                               
                            </div>
                            <div class="col-md-6 d-none d-md-block pt-2">
<div class="row">
    <div class="col-md-12">
        <form id="search-form" method="GET" action="{% url 'search_product' %}">
            <div class="input-group">
                <input type="text" class="form-control" name="productname" id="productname" placeholder="Search by Product Name" oninput="toggleSearchButton()">
                <div class="input-group-append">
                    <button class="btn btn-primary" id="search-button" type="submit" disabled><i class="fa fa-search"></i> </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function toggleSearchButton() {
        const productNameInput = document.getElementById("productname");
        const searchButton = document.getElementById("search-button");

        if (productNameInput.value.trim() === "") {
            searchButton.disabled = true;
        } else {
            searchButton.disabled = false;
        }
    }
</script>
                            </div>
                            <div class="col-md-3 col-3 pt-1 text-end">
                                <a href="{% url 'cart' %}">
                                    <button type="button" class="btn btn-light shadow-md border position-relative">
                                        <i class="bi fs-4 bi-basket"></i>
                                    </button>
                                </a>
                                {% comment %} <button type="button" class="btn d-none d-md-inline-block ms-3 btn-light shadow-md border position-relative">
                                    <i class="bi fs-4 bi-heart"></i>
                                </button> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="menu-bar bg-danger container-fluid border-top">
                        <div class="container">
                            <h6 class="d-md-none text-white p-3 mb-0 fw-bold">Menu
                                <a class="text-white" data-bs-target="#menu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="menu"><i class="bi cp bi-list float-end fs-1 dmji"></i></a>
                            </h6>
                            <ul id="menu" class="navcol fw-bold d-none d-md-inline-flex">
                                <li class="p-21 px-4">
                                    <a class="text-white" href="">Categories<i class="bi pt-2 bi-chevron-down"></i></a>
                                    <div class="inner-div">
                                        <ul class="">
                                            <li><a href="{% url 'products_list' category_id=8 %}">Birthday Gifts</a></li>
                                            <li><a href="{% url 'products_list' category_id=4 %}">Anniversary Gifts</a></li>
                                            <li><a href="{% url 'products_list' category_id=7 %}">Special Occasion</a></li>
                                            <li><a href="{% url 'products_list' category_id=3 %}">Festive Special Gifts</a></li>
                                            <li><a href="{% url 'products_list' category_id=5 %}">Customized Gifts</a></li>
                                        </ul>
                                    </div>

                                </li>
                                <li class="p-21 px-4 active"><a class="text-white" href="{% url 'index' %}">Home </a></li>
                                <li class="p-21 px-4"><a class="text-white" href="{% url 'about' %}">About Us </a></li>
                                
                            </ul>
                        </div>
                    </div>
                </header>
    </header>
    <div class="row mt-5">
        {% for product in products %}
        <div class="col-lg-3 col-md-4 mb-4">
            <div class="product-box bg-white p-2 shadow-md">
                <div class="text-center">
                    <a href="{% url 'product_details' product.id %}">
                         <img class="product-image" src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>

                </div>
                <div class="detail p-2">
                    <h4 class="mb-1 fs-5 fw-bold">{{ product.name }}</h4>
                    <h4 class="mb-1 fs-5">{{ product.description }}</h4>
                    <b class="fs-4 text-danger">${{ product.price }}</b>
                    <h5 class="mb-1">{{ product.average_rating }}/5 rating</h5>
                
             
                    
                    <ul class="mt-0 vgth">
                        <li class="fs-8">
                           
                        </li>
                        <li class="float-end gvi">
                            <i class="bi text-danger bi-heart-fill"></i>
                        </li>
                    </ul>
                    <div class="row pt-2">
                        <div class="col-md-6">
                            <a href="{% url 'product_detail' product.id %}">
                                <button class="btn mb-2 fw-bold w-100 btn-danger">Buy Now</button>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <!-- Add to Cart Form -->
                            <form method="post">
                                {% csrf_token %}
                                <!-- Add a hidden input for the product ID -->
                                <input type="hidden" name="product_id" value="{{ product.id }}">
                                
                                <!-- Product Name (Hidden Input) -->
                                <input type="hidden" name="product_name" value="{{ product.name }}">
                                
                                <!-- Product Price (Hidden Input) -->
                                <input type="hidden" name="product_price" value="{{ product.price }}">
                                
                                <!-- Quantity Input -->
                                <input type="number" name="quantity" value="1" min="1">
                                
                                <!-- Add to Cart Button -->
                                <button type="submit" class="btn mb-2 fw-bold w-100 btn-outline-danger">Add to Cart</button>
                            </form>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>  
    </body>
    </html>