<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    .image-container {
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  .image-container img {
    max-width: 100%;
    height: auto;
    display: block;
  }
</style>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 image-container">
        <img src="https://img.freepik.com/free-vector/gifts-concept-illustration_114360-2256.jpg?size=626&ext=jpg&ga=GA1.2.1125696270.1689738632&semt=ais" alt="Image">
      </div>
      <div class="col-md-6">
        <div class="container form-container mt-5">
          <h1>Sign Up</h1>
          {% for messages in messages %}
            <h3 style="color: red">{{ messages }}</h3>
            {% endfor %}
          <form method="post" action="#" id="registrationForm">
            {% csrf_token %}
            
            <div class="form-group">
              <label for="username">Name:</label>
              <input type="text" class="form-control" id="name" name="username" required>
              <small id="usernameError" class="form-text text-danger"></small>
            </div>

            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" required>
              <small id="emailError" class="form-text text-danger"></small>
            </div>
            
            <div class="form-group">
              <label for="phoneNumber">Phone Number:</label>
              <input type="tel" class="form-control" id="phoneNumber" name="mobile" required>
              <small id="phoneNumberError" class="form-text text-danger"></small>
            </div>

            <div class="form-group">
              <label for="password">Password:</label>
              <input type="password" class="form-control" id="password" name="password" required>
              <small id="passwordError" class="form-text text-danger"></small>
            </div>

            <div class="form-group">
              <label for="confirmPassword">Confirm Password:</label>
              <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required>
              <small id="confirmPasswordError" class="form-text text-danger"></small>            </div>
            <div>
              <p>Want to be a Seller</p>
              <input type="radio" id="customer" name="user_role" value="customer" checked>
              <label for="customer">No</label>
              <input type="radio" id="staff" name="user_role" value="staff">
              <label for="staff">Yes</label>
            </div>
            <div class="form-group" id="certificationImageField" style="display: none;">
              <label for="certification_image">Certification Image:</label>
              <input type="file" class="form-control" id="certification_image" name="certification_image">
              <small id="certificationImageError" class="form-text text-danger"></small>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
            <div class="mt-3">
              <p>Already have an account? <a href="{% url 'login_page' %}">Login</a></p>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
  <!-- Add Bootstrap JS and jQuery scripts -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <script>
    const sellerRadio = document.getElementById('staff');
const certificationImageField = document.getElementById('certificationImageField');

sellerRadio.addEventListener('change', function () {
  if (sellerRadio.checked) {
    certificationImageField.style.display = 'block';
  } else {
    certificationImageField.style.display = 'none';
  }
});
  </script>





  <script>


    const registrationForm = document.getElementById('registrationForm');
    const nameInput = document.getElementById('name');
    const nameError = document.getElementById('usernameError');
    const emailInput = document.getElementById('email');
    const phoneNumberInput = document.getElementById('phoneNumber');
    const passwordInput = document.getElementById('password');
    const confirmPasswordInput = document.getElementById('confirmPassword');
    const certificationImageInput = document.getElementById('certification_image');
    const certificationImageError = document.getElementById('certificationImageError');

  function validateName() {
  const nameValue = nameInput.value;

  // Regular expression to check if the name contains only alphabets and starts with a capital letter
  const namePattern = /^[A-Z][a-zA-Z]*$/;

  if (!namePattern.test(nameValue)) {
    nameError.textContent = 'Name should start with a capital letter and contain only alphabets.';
    return false;
  } else {
    nameError.textContent = '';
    return true;
  }
}
    
    function validateEmail() {
      const emailValue = emailInput.value;
      const emailError = document.getElementById('emailError');
      
      if (!/^\S+@\S+\.\S+$/.test(emailValue)) {
        emailError.textContent = 'Enter a valid email address.';
        return false;
      } else {
        emailError.textContent = '';
        return true;
      }
    }
    function validatePhoneNumber() {
      const phoneNumberValue = phoneNumberInput.value;
      const phoneNumberError = document.getElementById('phoneNumberError');
      
      if (!/^[6-9]\d{9}$/.test(phoneNumberValue)) {
        phoneNumberError.textContent = 'Enter a valid  phone number.';
        return false;
      } else {
        phoneNumberError.textContent = '';
        return true;
      }
    }

    function validatePassword() {
      const passwordValue = passwordInput.value;
      const passwordError = document.getElementById('passwordError');
      
      if (!/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}/.test(passwordValue)) {
        passwordError.textContent = 'Password should contain at least 8 characters, one uppercase letter, one lowercase letter, one number, and one special character.';
        return false;
      } else {
        passwordError.textContent = '';
        return true;
      }
    }

    function validateConfirmPassword() {
      const confirmPasswordValue = confirmPasswordInput.value;
      const confirmPasswordError = document.getElementById('confirmPasswordError');
      
      if (confirmPasswordValue !== passwordInput.value) {
        confirmPasswordError.textContent = 'Passwords do not match.';
        return false;
      } else {
        confirmPasswordError.textContent = '';
        return true;
      }
    }

  function validateCertificationImage() {
  const certificationImageValue = certificationImageInput.value;
  const allowedExtensions = ['.jpg', '.jpeg', '.png'];
  const extension = certificationImageValue.substring(certificationImageValue.lastIndexOf('.') + 1).toLowerCase();

  if (!allowedExtensions.includes(`.${extension}`)) {
    certificationImageError.textContent = 'File format must be JPEG, PNG, or JPG.';
    return false;
  } else {
    certificationImageError.textContent = '';
    return true;
  }
}

    nameInput.addEventListener('blur', validateName);
    emailInput.addEventListener('keyup', validateEmail);
    phoneNumberInput.addEventListener('keyup', validatePhoneNumber);
    passwordInput.addEventListener('keyup', validatePassword);
    confirmPasswordInput.addEventListener('keyup', validateConfirmPassword);
    certificationImageInput.addEventListener('change', validateCertificationImage);

    // Validate on form submit
    registrationForm.addEventListener('submit', function(event) {
     // const isUsernameValid = validateUsername();
      const isEmailValid = validateEmail();
      const isPhoneNumberValid = validatePhoneNumber();
      const isPasswordValid = validatePassword();
      const isConfirmPasswordValid = validateConfirmPassword();

      if (!isEmailValid || !isPasswordValid || !isConfirmPasswordValid) {
        event.preventDefault();
      }
    });
    document.querySelector('a[href="#"]').addEventListener('click', function(event) {
      event.preventDefault();
    });
  </script>
</body>
</html>
